<!DOCTYPE html>
<html>
  <head>
    <title>MessegeMe2023</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="ui inverted small menu">
    <div class="ui container">
     <%= render 'layouts/partials/navigation' %>
    </div>
  </div>
  <body>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
